// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'components/components';


:root {
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --primaryColor: #083A60;
      --grayColor:#595959;
  }

  body{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color:var(--grayColor);
      font-family: var(--inter);
  }
a{
	text-decoration: none;
	font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
}
h6 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* side bar css */

section.login-sec .login-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    margin-top: 50px;
}
section.login-sec .login-content .login-logo {
    text-align: center;
    padding-bottom: 20px;
}
section.login-sec .login-content .login-form {
    padding: 20px 0px;
}
section.login-sec .login-content .login-form form .form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.625;
    color: #666;
}
section.login-sec .login-content .login-form form .form-group input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}
section.login-sec .login-content .login-form form .form-group input::placeholder {
    font-size: 16px;
}
section.login-sec .login-content .login-form form .form-group input:focus-visible {
    outline: none;
}
section.login-sec .login-content .login-form form .form-group {
    margin-bottom: 15px;
}
section.login-sec .login-content .login-form .login-Forgotten-Password {
    padding: 20px 0px;
}
section.login-sec .login-content .login-form .login-Forgotten-Password label a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #ff2e44;
    letter-spacing: 0.8px;
}
section.login-sec .login-content .login-form button {
    background-color: #083A60;
    color: #fff;
    border: 1px solid #083A60;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
}
section.Dashboard-sec .Dashboard-wrap {
    display: flex;
    flex-wrap: wrap;
}
section.Dashboard-sec .Dashboard-wrap .Dashboard-page {
    max-width: 85%;
    width: 100%;
    position: relative;
}
section.Dashboard-sec .Dashboard-wrap .side-bar {
    max-width: 15%;
    width: 100%;
    height: auto;
    background-color: #fff;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .login-logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .login-logo img {
    max-width: 88px;
    width: 100%;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li {
	padding: 15px 24px 15px 15px;
	border-left: 3px solid #fff;
}
section .Dashboard-wrap .side-bar ul li a {
	padding-left: 15px;
	max-width: calc(100% - 40px);
	width: 100%;
	display: inline-block;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li img {
    max-width: 16px;
    height: 16px;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li ul.sub-menu li {
    padding: 10px 25px;
    letter-spacing: 0;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li:hover {
	background: #3333332e;
    border-left: 3px solid var(--primaryColor);
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li:hover a {
    color: var(--primaryColor);
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul li ul.sub-menu li a {
    padding: 0;
    width: 100%;
    max-width: 100%;
    letter-spacing: 0;
}
section.Dashboard-sec .Dashboard-wrap .side-bar .side-bar-form ul.sub-menu {
    padding: 20px 0 0;
    display: none;
}
section.Dashboard-sec .Dashboard-wrap .Dashboard-page header.Dashboard-page-header .header-sec {
	background-color: var(--primaryColor);
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section.Dashboard-sec .Dashboard-wrap .Dashboard-page header.Dashboard-page-header .header-sec input[type="twxt"] {
    max-width: 1100px;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #fff;
}
.header-sec input[type="text"] {
    max-width: 1188px;
    width: 100%;
    padding: 10px 15px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
}
.header-sec .users {
    width: 100%;
    max-width: 185px;
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 10px;
}
.header-sec .users span {
    display: flex;
    align-items: center;
}
.header-sec .users span p {
    margin: 0px 0px 0 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #F9FAFB;
}
.side-bar .side-bar-form ul li span {
    display: inline-flex;
    max-width: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 20px;
    background-color: #ddd;
}
.header-sec .users span:first-child i {
    color: #fff;
}
.header-sec .users span:first-child {
    width: 32px;
    height: 32px;
    background: #111827;
    justify-content: center;
    border-radius: 16px;
}
.header-sec .users span {
    display: flex;
    align-items: center;
}
.Dashboard-page .Dashboard-header-wrap {
    position: absolute;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top: 90px;
    width: 100%;
    max-width: calc(100% - 40px);
    left: 20px;
    display: flex;
    align-items: center;
}
.Dashboard-page .Dashboard-header-wrap h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #656565;
    padding: 0px 20px;
    margin: 0;
}
.Dashboard-body {
    padding: 50px 25px 0px 25px;
}
.Dashboard-body  .wealth-_period {
    background-color: #fff;
    padding: 17px 15px;
}
.Dashboard-body  .wealth-das {
    padding: 24px 25px 20px;
}
.Dashboard-body .Wealth-Glance.padding-contant .At-Glance h4 {
    margin: 0;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}
 .box-sadwo {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 18px 24px 17px;
}
.Report_Period {
    margin-bottom: 34px;
}
.Report_Period span {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #010101;
}
.Report_Period.box-sadwo select {
    max-width: 430px;
    width: 100%;
    height: 25px;
    background: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
}
.Report_Period span:nth-child(3) {
    margin-left: 50px;
}
.Dashboard-body .wealth-_period h5 {
    margin: 0 0 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #010101;
}
.Follow-Up_Tasks table {
    width: 100%;
    white-space: nowrap;
}
.Follow-Up_Tasks table tr th {
    padding: 16px 22px 16px 16px;
    background-color: #F9FAFB;
}
.Follow-Up_Tasks table tr th span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #6B7280;
}
.Follow-Up_Tasks table tr td {
    padding: 16px;
        font-style: normal;
    font-weight: 400;
    font-size: 10px;
}
.Follow-Up_Tasks table tr:nth-child(2) td, .Follow-Up_Tasks table tr:nth-child(3) td, .Follow-Up_Tasks table tr:nth-child(5) td, .Follow-Up_Tasks table tr:nth-child(7) td, .Follow-Up_Tasks table tr:nth-child(11) td {
    background-color: #FFCF81;
}
.Follow-Up_Tasks table tr:nth-child(4) td, .Follow-Up_Tasks table tr:nth-child(9) td {
    background-color: #B30000;
    color: #FFFFFF;
}
.wealth-_period .pagination {
    justify-content: space-between;
    padding: 20px 25px;
}
.wealth-_period .pagination .pagination-item span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #414141;
}
.wealth-_period .pagination .pagination-item  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #414141;
    margin: 0 8px;
}
.wealth-_period .pagination .pagination-item:first-child {
    display: flex;
    align-items: baseline;
    max-width: 300px;
    width: 100%;
}
.wealth-_period .pagination .pagination-item:first-child .arrow-pagination {
    margin-left: 30px;
}
.wealth-_period .pagination .pagination-item select {
    border: 0;
    font-size: 12px;
}
.Sales-Applications {
    margin-top: 35px;
}
.Sales-Applications .Sales-details {
    display: flex;
    max-width: 210px;
    width: 100%;
    grid-column-gap: 25px;
    align-items: baseline;
    padding-bottom: 20px;
}
 .Sales-details span.right {
    height: 40px;
    width: 40px;
    background-color: #083A60;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sales-details span.right img {
	max-width: 22px;
	width: 100%;
	filter: brightness(70);
}
 .Sales-details h5 {
    justify-content: space-between;
    max-width: calc(100% - 60px);
    width: 100%;
    margin: 0;
}
.Applications-wrap .Applications-wrap-box {
    max-width: 50%;
    width: 100%;
}
.Applications-wrap .B2B-Agreement.box-sadwo {
    max-width: 50%;
    width: 100%;
}
 .Total_Applications {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
}
.Applications-wrap {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 16px;
}
.Total_Applications.box-sadwo .Applications {
    max-width: 50%;
    width: 100%;
}
.Total_Applications.box-sadwo .Applications:nth-child(2) {
    border-left: 1px solid #000000;
    padding: 0 30px;
}
.Applications-wrap-box h6, .B2B-Agreement.box-sadwo h6, .Business-Type h6 {
    margin: 0 0 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #010101;
}
 .Business-marketing {
    width: 178px;
    height: 178px;
    background: #990000;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    position: relative;
}
.Business-Type.box-sadwo .Business-grap-up span {
    height: 15px;
    width: 15px;
    background-color: #990000;
    display: inline-block;
}
.Business-Type.box-sadwo .Business-garp-dun span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #E8B157;
}
.Business-Type.box-sadwo label {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    color: #010101;
}
.B2B-Agreement.box-sadwo .Agreement-grap {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px;
    background-color: #1E8D0C;
    border-radius: 50%;
}
.B2B-Agreement.box-sadwo h6 {
    padding-bottom: 55px;
}
.B2B-Agreement.box-sadwo .Agreement-grap-up span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #1E8D0C;
}
.B2B-Agreement .Agreement-garp-dun span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #2AD38B;
}
.Applications-wrap label {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 22px;
    color: #010101;
}
.Wealth_Commission {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    grid-column-gap: 16px;
}
.Wealth_Commission .Sales-details {
    max-width: 100%;
    width: 100%;
}
.Wealth_Commission .Total_Applications {
    max-width: calc(100%/2 - 16px);
    width: 100%;
}
.Business-marketing-fo {
    grid-column-gap: 16px;
}
.Business-marketing-fo .Business-Type{
    max-width: 50%;
    width: 100%;
}
.Business-marketing-fo .Business-Type.box-sadwo .Business-marketing {
    background: #FF3636;
}
.Business-marketing-fo .Business-Type:nth-child(2) .Business-marketing {
    background-color: #5E3FBE;
}
.Wealth_Commission .Sales-details h5, .Sales-details.Operation-details h5 {
    max-width: 150px;
}
.Sales-details.Operation-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 20px;
    align-items: baseline;
    grid-column-gap: 25px;
}
.Total_Applications.Operation-wrap-box .Operation-applications,.Total_Applications.Operation-wrap-box .Business-Type.box-sadwo {
    max-width: calc(100%/2 - 8px);
    width: 100%;
    flex: calc(100%/2 - 8px);
}
.Total_Applications.Operation-wrap-box .Operation-applications .Business-marketing-fo.d-flex.Operation-wrap .Business-Type.box-sadwo {
    max-width: 100%;
}
.Operation-applications .Applications {
    margin-bottom: 16px;
}
.Total_Applications.Operation-wrap-box {
    grid-column-gap: 16px;
}

