.swal-overlay {
    .swal-modal {
        .view-application {
            color: $primary-grey !important;
            &:hover {
                color: $primary-blue !important;
                text-decoration: underline;
            }
        }
    }
}

.swal-overlay--show-modal {
    .swal-modal {
        padding: 60px 0 !important;
    }
}
