.business_data {
    .edit_redemption {
        .del_confirm_business {
            padding-top: 0px;
            margin-top: -6px;
        }
    }
}


.dataTables_wrapper {
    .dataTables_length {
        right: 16px !important;
    }
    .custom-select.custom-select-sm {
        border-bottom: 0;
        padding: 10px;
        position: relative;
        border: 0;
        background: transparent;
        text-align: center;
        color: var(--boldgray);
        font-family: var(--roboto);
        font-weight: 700;
        padding-right: 20px;
        background-image: url(/images/table-down-arrow.png);
        background-repeat: no-repeat;
        background-position: 82% 50%;
        cursor: pointer;
    }
}


table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child {
    padding-left: 0;
    padding-right: 0;
}