.business_data {
    .edit_redemption {
        .del_confirm_business {
            padding-top: 0px;
            margin-top: -6px;
        }
    }
}


.dataTables_wrapper {
    .dataTables_length {
        right: 16px !important;
    }
    .custom-select.custom-select-sm {
        appearance: auto;
    }
}
