.print-holder {
    margin: 0 auto;
    width: 100%;
}

.break-page {
    page-break-inside: avoid;
}
.break {page-break-after: always;}

/* .page {
    height: 100vh;
} */
table {
    width: 100%;
}
.padding-2 {
    padding: 15px;
}
.padding-3 {
    padding: 30px;
}
.border {
    border: 1px solid black;
    border-collapse: collapse;

}

.center {
    text-align: center;
}

.main-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.sub-heading {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #010101;
}

.heading {
    font-size: 15px;
    font-weight: 700;
    color: #010101;
}

.value {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
